<div class="row">
	<div class="btn-group m-bottom" role="group" aria-label="...">
	  <a type="button" class="btn btn-default" href="/comments">Go Back</a>
	</div>
	<div class="m-bottom">
		<h3>Comment Details</h3>
		<form action="/comment/<%= @comment.id %>" method="post" >
		   	<input type="hidden" name="_method" value="delete" />
			<label for="ownername">Owner Name: </label>
		   	<input type="text" name="ownername" value="<%= @comment.ownername %>" disabled>
		   	<label for="content">Content: </label>
		   	<textarea type="text" name="content" disabled><%= @comment.content %></textarea>
			<input type="submit" class="btn-danger btn" value="Delete">
		</form>
	</div>
</div>
