<div class="row">
	<div class="btn-group m-bottom" role="group" aria-label="...">
	  <a type="button" class="btn btn-default" href="students/new">Add New Student</a>
	</div>
	<div class="col-xs-12">
		<div class="row">
			<h3>Students</h3>
			<ul>
				<% @students.each do |student| %>
					<li><a href="/student/<%= student.id %>"><%= student.firstname %> <%= student.surname %> </a></li>
				<% end %>
			</ul>
			<% if @students.empty? %>
				<p>No students to show</p>
			<% end %>
		</div>
	</div>
</div>